.contact-main {
  font-size: 15px;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(
    149deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 68%,
    rgba(0, 212, 255, 1) 100%
  );
  color: white;
}
.formulario {
  font-size: 16px;
  display: flex;
  flex-direction: column;
}
.enviar {
  background-color: rgba(9, 9, 121, 1);
  border: 2px solid rgba(0, 212, 255, 1);
  border-radius: 30%;
  color: white;
  padding: 2px;
  width: 50px;
}
.enviar:hover {
  background-color: rgba(0, 212, 255, 1);
}
.contact-text-title {
  text-decoration-line: underline;
  text-decoration-color: rgba(0, 212, 255, 1);
  margin: 20px 0px;
}
.nombre {
  padding: 10px;
  font-size: 10px;
  width: 300px;
}
.telefono {
  padding: 10px;
  font-size: 10px;
  width: 300px;
}
.correoe {
  padding: 10px;
  font-size: 10px;
  width: 300px;
}
.contact-right {
  padding: 20px;
}
.mapaa {
  width: 100%;
}
.contact-text {
  align-items: center;
}
.contact-text textarea {
  width: 300px;
}
@media (max-width: 992px) and (min-width: 768px) {
  .contact-main {
    font-size: 30px;
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .formulario {
    font-size: 30px;
    margin-bottom: 50px;
    margin-left: 20px;
  }
  .contact-right {
    padding: 20px;
  }
  .contact-text textarea {
    width: 500px;
    height: 200px;
  }
  .contact-text-title {
    margin: 40px 0px;
  }
  .enviar {
    width: 100px;
  }
}

@media (min-width: 992px) {
  .contact-main {
    font-size: 30px;
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .formulario {
    font-size: 30px;
    margin-bottom: 50px;
    margin-left: 20px;
  }
  .contact-right {
    padding: 20px;
  }
  .contact-text textarea {
    width: 500px;
    height: 200px;
  }
  .contact-text-title {
    margin: 40px 0px;
  }
  .enviar {
    width: 100px;
  }
}
