.nav-link {
  color: white;
  font-size: 30px;
}
.navbar-nav .nav-link.active {
  color: white;
}
.productos {
  &_top {
    background-color: aliceblue;
    color: #203586;
    padding: 40px;
    font-size: 16px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  &_title {
    font-size: 30px;
  }
  &_text {
    font-style: italic;
    padding: 20px;
    font-size: 16px;
  }
  &_bot {
    font-size: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin: 40px;
  }
}
.carousel-control-prev-icon {
  background-color: black;
}
.carousel-control-next-icon {
  background-color: black;
}
.nosotros-bot {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 230, 0.5561097256857855) 78%,
    rgba(249, 157, 53, 1) 86%
  );
  color: grey;
  & img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
  }
}
.nosotros1-title {
  font-size: 30px;
}
.nosotros2 {
  background-image: linear-gradient(
    180deg,
    rgba(249, 157, 53, 1) 78%,
    rgba(115, 250, 102, 0.5860349127182045) 86%
  );
color: white;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.nosotros3 {
  background-color: #73fa66;
  color: #203586;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 30px;
  &-title {
    font-size: 30px;
  }
  &-paragraph {
    font-size: 16px;
  }
  & img {
    width: 250px;
    height: 250px;
  }
}
@media (min-width: 992px) {
  /* MENU PRINCIPAL */
  .productos_ {
    display: flex;
    width: 100%;
    &top {
      background-color: aliceblue;
      color: #203586;
      width: 50%;
    }
    &title {
      font-size: 30px;
    }
    &text {
      font-style: italic;
      padding: 20px;
      font-size: 20px;
    }
    &bot {
      background-color: aliceblue;
      font-size: 25px;
      display: flex;
      width: 350px;
    }
    &bot img {
      width: 350px;
      height: 350px;
    }
  }
  /* SECCION NOSOTROS */
  .seleccion-ropa{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px;
  
  }
  .contenedor-ropa{
    display: flex;
    justify-content: space-around;
    padding: 20px;
  }
  .contenedor-ropa-mujer{
    border-radius: 5px;
    border: black solid 2px;
    padding: 8px;
  }
  .contenedor-ropa-hombre{
    border-radius: 5px;
    border: black solid 2px;
    padding: 8px;
  }
  .contenedor-ropa-nino{
    border-radius: 5px;
    border: black solid 2px;
    padding: 8px;
  }
  .newlester {
    background-color: #203586;
    padding: 10px;
    &h2 {
      color: aliceblue;
    }
  }
  .input-group {
    font-size: 40px;
    padding: 60px;
  }
  .btn btn-outline-secondary {
    background-color: white;
    color: white;
  }
  /* Pie de pagina */
  .correo {
    width: 400px;
    height: 40px;
    font-size: 30px;
    margin: 100px;
  }
  .enviar {
    width: 100px;
    height: 40px;
    font-size: 30px;
  }
}
