.nav-link {
  color: white;
  font-size: 30px;
}
.navbar-nav .nav-link.active {
  color: white;
}
.main-title{
  display: block;
  padding: 0%;
}
.productos {
  &_top {
    background-color: aliceblue;
    color: #203586;
    padding: 40px;
    font-size: 16px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  &_title {
    font-size: 30px;
  }
  &_text {
    font-style: italic;
    padding: 20px;
    font-size: 16px;
  }
  &_bot {
    font-size: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin: 40px;
  }
}
.carousel-control-prev-icon {
  background-color: black;
}
.carousel-control-next-icon {
  background-color: black;
}
.contenedor-ropa{
  text-align: center;
}
.contenedor-ropa{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
}
.contenedor-ropa-mujer{
  border-radius: 5px;
  border: black solid 2px;
  padding: 8px;
  margin: 20px 0;
}
.contenedor-ropa-hombre{
  border-radius: 5px;
  border: black solid 2px;
  padding: 8px;
  margin: 20px 0;
}
.contenedor-ropa-nino{
  border-radius: 5px;
  border: black solid 2px;
  padding: 8px;
  margin: 20px 0;
}
@media (max-width: 992px) and (min-width: 768px) {
  .productos_ {
    display: flex;
    width: 100%;
    &top {
      background-color: aliceblue;
      color: #203586;
      width: 50%;
    }
    &title {
      font-size: 30px;
    }
    &text {
      font-style: italic;
      padding: 20px;
      font-size: 20px;
    }
    &bot {
      background-color: aliceblue;
      font-size: 25px;
      display: flex;
      width: 350px;
    }
    &bot img {
      width: 350px;
      height: 350px;
    }
  }
    .contenedor-ropa{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding: 20px;
    }
    .contenedor-ropa-mujer{
      border-radius: 5px;
      border: black solid 2px;
      padding: 8px;
    }
    .contenedor-ropa-hombre{
      border-radius: 5px;
      border: black solid 2px;
      padding: 8px;
    }
    .contenedor-ropa-nino{
      border-radius: 5px;
      border: black solid 2px;
      padding: 8px;
    }
  }


@media (min-width: 992px) {
  /* MENU PRINCIPAL */
  .productos_ {
    display: flex;
    width: 100%;
    &top {
      background-color: aliceblue;
      color: #203586;
      width: 50%;
    }
    &title {
      font-size: 30px;
    }
    &text {
      font-style: italic;
      padding: 20px;
      font-size: 20px;
    }
    &bot {
      background-color: aliceblue;
      font-size: 25px;
      display: flex;
      width: 350px;
    }
    &bot img {
      width: 350px;
      height: 350px;
    }
  }
  /* SECCION NOSOTROS */
  .contenedor-ropa{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
  }
  .contenedor-ropa-mujer{
    border-radius: 5px;
    border: black solid 2px;
    padding: 8px;
  }
  .contenedor-ropa-hombre{
    border-radius: 5px;
    border: black solid 2px;
    padding: 8px;
  }
  .contenedor-ropa-nino{
    border-radius: 5px;
    border: black solid 2px;
    padding: 8px;
  }
}
