.nav-link {
  color: white;
  font-size: 30px;
}
.navbar-nav .nav-link.active {
  color: white;
}
.productos {
  &_top {
    background-color: aliceblue;
    color: #203586;
    padding: 40px;
    font-size: 16px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  &_title {
    font-size: 30px;
  }
  &_text {
    font-style: italic;
    padding: 20px;
    font-size: 16px;
  }
  &_bot {
    font-size: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin: 40px;
  }
}
.carousel-control-prev-icon {
  background-color: black;
}
.carousel-control-next-icon {
  background-color: black;
}
.carousel-item img {
  width: 400px;
  height: 400px;
}
.nosotros-bot {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 230, 0.5561097256857855) 78%,
    rgba(249, 157, 53, 1) 86%
  );
  color: grey;
  & img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
  }
}
.nosotros1-title {
  font-size: 30px;
}
.nosotros2 {
  font-size: 16px;
  padding: 50px;
  background-image: linear-gradient(
    180deg,
    rgba(249, 157, 53, 1) 78%,
    rgba(115, 250, 102, 0.5860349127182045) 86%
  );
  color: aliceblue;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.nosotros3 {
  background-color: #73fa66;
  color: black;
  font-size: 16px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &-title {
    font-size: 30px;
  }
  &-paragraph {
    font-size: 16px;
  }
}
footer {
  background-color: #323031;
  font-size: 16px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  & ul {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    list-style: none;
    padding: 5px;
    justify-content: space-around;
  }
  & a {
    text-decoration: none;
    color: white;
    padding: 5px;
  }
  & p {
    color: white;
  }
  & img {
    background-color: white;
  }
}
@media (min-width: 992px) {
  /* MENU PRINCIPAL */
  .productos_ {
    display: flex;
    flex-direction: column;
    width: 100vw;
    &_top {
      background-color: aliceblue;
      color: #203586;
    }
    &_title {
      font-size: 60px;
      padding: 50px 50px 50px 50px;
      margin: 50px;
    }
    &_text {
      font-style: italic;
      padding: 20px;
      font-size: 40px;
    }
    &_bot {
      font-size: 25px;
    }
    &_bot img {
      width: 350px;
      height: 350px;
    }
  }
  /* SECCION NOSOTROS */
  .card-title {
    font-size: 40px;
  }
  .nosotros-bot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: grey;
    font-size: 40px;
    padding: 50px 150px 50px 50px;
  }
  .nosotros1-title {
    font-size: 60px;
  }
  .nosotros1-paragraph {
    font-style: italic;
  }
  .nosotros2 {
    font-size: 40px;
    padding: 50px 150px 50px 50px;
    background-color: #f99d35;
    color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &-title {
      font-size: 60px;
    }
  }
  .nosotros3 {
    background-color: #73fa66;
    color: black;
    font-size: 40px;
    display: flex;
    flex-direction: row;
    &-title {
      font-size: 60px;
    }
    &-paragraph {
      font-size: 40px;
    }
  }
  .newlester {
    background-color: #203586;
    padding: 10px;
    &h2 {
      color: aliceblue;
    }
  }
  .input-group {
    font-size: 40px;
    padding: 60px;
  }
  .btn btn-outline-secondary {
    background-color: white;
    color: white;
  }
  /* Pie de pagina */
  .correo {
    width: 400px;
    height: 40px;
    font-size: 30px;
    margin: 100px;
  }
  .enviar {
    width: 100px;
    height: 40px;
    font-size: 30px;
  }
}
