.nosotros {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  width: 100%;
  background-color: #203586;
}
.nosotros-left {
  background-color: #203586;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-size: 10px;
  text-align: center;
}
.nosotros-left-text h2{
  font-size: 30px;
}
.vegano {
color: #e59866;
}
.tinte-sostenible {
color: purple;
}
.contenido-reciclado {
color: #09a2b8;
}
.container-reciclado{
  display: flex,
  
}
.features {
  display: flex;
  flex-direction: column;
}
.features-titulo{
  background: linear-gradient(180deg, rgba(32,53,134,1) 0%, rgba(177,184,213,1) 29%, rgba(255,255,255,1) 100%);
  color: #203586;
  padding: 50px;
}
.features-titulo p{
  color: black;
}
.features1{
  display: none;
}
/* FIND E NOSOTROS */
@media (min-width: 992px) {
  .vegano{
    border: #e59866 solid 3px;
  }
  .algodon-organico{
    border: black solid 3px;
  }
  .tinte-sostenible{
    border: purple solid 3px;
  }
  .contenido-reciclado{
    border: #09a2b8 solid 3px;
  }
}
