.menu-productos {
  background-color: #203586;
  display: flex;
  justify-content: center;
}
.menu-productos ul {
  list-style: none;
}
.menu-productos-nav {
  display: flex;
  padding-left: 0%;
}
.menu-productos-nav ul {
  list-style: none;
  display: flex;
  align-content: space-around;
}
.menu-productos-nav > li {
  display: flex;
  align-content: space-around;
  text-align: center;
}
.menu-productos-nav > li > a {
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  color: white;
}
.menu-productos-nav li a:hover {
  color: gold;
}
.productos_botones {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.productos_main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.productos_main label {
  margin-right: 6px;
}
#remeras:checked ~ #imagenes .camperas,
#remeras:checked ~ #imagenes .zapatillas,
#remeras:checked ~ #imagenes .shorts,
#remeras:checked ~ #imagenes .camisetas,
#remeras:checked ~ #imagenes .ojotas,
#remeras:checked ~ #imagenes .botines,
#remeras:checked ~ #imagenes .buzo {
  display: none;
}
#zapatillas:checked ~ #imagenes .camperas,
#zapatillas:checked ~ #imagenes .remeras,
#zapatillas:checked ~ #imagenes .shorts,
#zapatillas:checked ~ #imagenes .camisetas,
#zapatillas:checked ~ #imagenes .ojotas,
#zapatillas:checked ~ #imagenes .botines,
#zapatillas:checked ~ #imagenes .buzo {
  display: none;
}
#camperas:checked ~ #imagenes .zapatillas,
#camperas:checked ~ #imagenes .remeras,
#camperas:checked ~ #imagenes .shorts,
#camperas:checked ~ #imagenes .camisetas,
#camperas:checked ~ #imagenes .ojotas,
#camperas:checked ~ #imagenes .botines,
#camperas:checked ~ #imagenes .buzo {
  display: none;
}
#shorts:checked ~ #imagenes .zapatillas,
#shorts:checked ~ #imagenes .remeras,
#shorts:checked ~ #imagenes .camperas,
#shorts:checked ~ #imagenes .camisetas,
#shorts:checked ~ #imagenes .ojotas,
#shorts:checked ~ #imagenes .botines,
#shorts:checked ~ #imagenes .buzo {
  display: none;
}
#camisetas:checked ~ #imagenes .zapatillas,
#camisetas:checked ~ #imagenes .remeras,
#camisetas:checked ~ #imagenes .shorts,
#camisetas:checked ~ #imagenes .camperas,
#camisetas:checked ~ #imagenes .ojotas,
#camisetas:checked ~ #imagenes .botines,
#camisetas:checked ~ #imagenes .buzo {
  display: none;
}
#ojotas:checked ~ #imagenes .zapatillas,
#ojotas:checked ~ #imagenes .remeras,
#ojotas:checked ~ #imagenes .shorts,
#ojotas:checked ~ #imagenes .camisetas,
#ojotas:checked ~ #imagenes .camperas,
#ojotas:checked ~ #imagenes .botines,
#ojotas:checked ~ #imagenes .buzo {
  display: none;
}
#botines:checked ~ #imagenes .zapatillas,
#botines:checked ~ #imagenes .remeras,
#botines:checked ~ #imagenes .shorts,
#botines:checked ~ #imagenes .camisetas,
#botines:checked ~ #imagenes .ojotas,
#botines:checked ~ #imagenes .camperas,
#botines:checked ~ #imagenes .buzo {
  display: none;
}
#buzo:checked ~ #imagenes .zapatillas,
#buzo:checked ~ #imagenes .remeras,
#buzo:checked ~ #imagenes .shorts,
#buzo:checked ~ #imagenes .camisetas,
#buzo:checked ~ #imagenes .ojotas,
#buzo:checked ~ #imagenes .camperas,
#buzo:checked ~ #imagenes .botines {
  display: none;
}
.contenedor-productos {
  display: flex;
  flex-direction: column;
}
.contenedor-compra {
  border: #333333 solid 2px;
  margin: 4px 0;
  width: auto;
  text-align: center;
}
.contenedor-compra img {
  width: 250px;
  height: 250px;
}
@media (min-width: 992px) {
  .products {
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 20px;
    &-text {
      display: flex;
      flex-direction: column;
      padding: 30px;
    }
    &-text ul {
      display: flex;
      flex-direction: column;
      padding: 40px;
      font-size: 30px;
    }
    &-text ul li a {
      text-decoration: none;
      color: black;
    }
  }
  .products-img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
  .products-img1 {
    display: flex;
    flex-direction: column;
    padding: 15px;
  }
  .products-img img {
    width: 200px;
    height: 200px;
  }
  .messi-text{
    font-size: 8px;
    padding-top: 90%;
    padding-left: 0%;
    width: 100vh;
  }
  .messi-sup{
    width: 50%;
height: auto;
  }
  .messi--arg{
    width: 50%;
    display: inline;
  }
  .main-productos{
    height: 100vh;
  }
}
