.messi-text{
  font-size: 8px;
}
.products {
  background-color: aliceblue;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 20px;
  &-text {
    text-decoration: none;
    color: #203586;
    padding: 10px;
  }
  &-text ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    padding: 0px;
    font-size: 20px;
    color: transparent;
  }
  &-text ul li a {
    text-decoration: none;
    color: black;
  }
  &-img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
  }
  &-img1 {
    display: flex;
    flex-direction: row;
  }
  &-img img {
    width: 100px;
    height: 100px;
  }
  .messi-arg{
    display: none !important;
  }
}
@media (min-width: 992px) {
  .products {
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 20px;
    &-text {
      display: flex;
      flex-direction: column;
      padding: 30px;
    }
    &-text ul {
      display: flex;
      flex-direction: column;
      padding: 40px;
      font-size: 30px;
    }
    &-text ul li a {
      text-decoration: none;
      color: black;
    }
  }
  .products-img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
  .products-img1 {
    display: flex;
    flex-direction: column;
    padding: 15px;
  }
  .products-img img {
    width: 200px;
    height: 200px;
  }
}
