.menu-productos {
  background-color: #203586;
  display: flex;
  justify-content: center;
}
.menu-productos ul {
  list-style: none;
}
.menu-productos-nav {
  display: flex;
  padding-left: 0%;
}
.menu-productos-nav ul {
  list-style: none;
  display: flex;
  align-content: space-around;
}
.menu-productos-nav > li {
  display: flex;
  align-content: space-around;
  text-align: center;
}
.menu-productos-nav > li > a {
  display: block;
  padding: 15px 20px;
  text-decoration: none;
  color: white;
}
.menu-productos-nav li a:hover {
  color: gold;
}
.productos_botones {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.productos_main label {
  margin-right: 6px;
}
input[type="radio"] {
  display: none;
}
.productos_main {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  justify-content: center;
}
.productos_main label {
  padding: 8px 8px;
  margin: 8px;
  font-size: 10px;
  background-color: #203586;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
#remeras:checked ~ #imagenes .camperas,
#remeras:checked ~ #imagenes .zapatillas,
#remeras:checked ~ #imagenes .shorts,
#remeras:checked ~ #imagenes .camisetas,
#remeras:checked ~ #imagenes .ojotas,
#remeras:checked ~ #imagenes .botines,
#remeras:checked ~ #imagenes .buzo {
  display: none;
}
#zapatillas:checked ~ #imagenes .camperas,
#zapatillas:checked ~ #imagenes .remeras,
#zapatillas:checked ~ #imagenes .shorts,
#zapatillas:checked ~ #imagenes .camisetas,
#zapatillas:checked ~ #imagenes .ojotas,
#zapatillas:checked ~ #imagenes .botines,
#zapatillas:checked ~ #imagenes .buzo {
  display: none;
}
#camperas:checked ~ #imagenes .zapatillas,
#camperas:checked ~ #imagenes .remeras,
#camperas:checked ~ #imagenes .shorts,
#camperas:checked ~ #imagenes .camisetas,
#camperas:checked ~ #imagenes .ojotas,
#camperas:checked ~ #imagenes .botines,
#camperas:checked ~ #imagenes .buzo {
  display: none;
}
#shorts:checked ~ #imagenes .zapatillas,
#shorts:checked ~ #imagenes .remeras,
#shorts:checked ~ #imagenes .camperas,
#shorts:checked ~ #imagenes .camisetas,
#shorts:checked ~ #imagenes .ojotas,
#shorts:checked ~ #imagenes .botines,
#shorts:checked ~ #imagenes .buzo {
  display: none;
}
#camisetas:checked ~ #imagenes .zapatillas,
#camisetas:checked ~ #imagenes .remeras,
#camisetas:checked ~ #imagenes .shorts,
#camisetas:checked ~ #imagenes .camperas,
#camisetas:checked ~ #imagenes .ojotas,
#camisetas:checked ~ #imagenes .botines,
#camisetas:checked ~ #imagenes .buzo {
  display: none;
}
#ojotas:checked ~ #imagenes .zapatillas,
#ojotas:checked ~ #imagenes .remeras,
#ojotas:checked ~ #imagenes .shorts,
#ojotas:checked ~ #imagenes .camisetas,
#ojotas:checked ~ #imagenes .camperas,
#ojotas:checked ~ #imagenes .botines,
#ojotas:checked ~ #imagenes .buzo {
  display: none;
}
#botines:checked ~ #imagenes .zapatillas,
#botines:checked ~ #imagenes .remeras,
#botines:checked ~ #imagenes .shorts,
#botines:checked ~ #imagenes .camisetas,
#botines:checked ~ #imagenes .ojotas,
#botines:checked ~ #imagenes .camperas,
#botines:checked ~ #imagenes .buzo {
  display: none;
}
#buzo:checked ~ #imagenes .zapatillas,
#buzo:checked ~ #imagenes .remeras,
#buzo:checked ~ #imagenes .shorts,
#buzo:checked ~ #imagenes .camisetas,
#buzo:checked ~ #imagenes .ojotas,
#buzo:checked ~ #imagenes .camperas,
#buzo:checked ~ #imagenes .botines {
  display: none;
}
.contenedor-productos {
  display: flex;
  flex-direction: column;
}
.contenedor-compra {
  border: #333333 solid 2px;
  margin: 4px 0;
  width: auto;
  text-align: center;
}
.contenedor-compra img {
  width: 250px;
  height: 250px;
}
@media (max-width: 992px) and (min-width: 768px) {
  .productos_main {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  .productos_main label {
    padding: 6px 20px;
    margin: 10px;
    font-size: 20px;
    background-color: #203586;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }
  .productos_main label:hover {
    opacity: 0.8;
  }
  .contenedor-producto {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .contenedor-producto .contenedor-compra {
    background: #fff;
    width: 350px;
    box-shadow: 0 0 20px -20px black;
    border-radius: 6px;
    overflow: hidden;
    padding-bottom: 20px;
  }
  .contenedor-producto .contenedor-compra .ctn-img {
    width: 100%;
  }
  .contenedor-producto .contenedor-compra .ctn-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
@media (min-width: 992px) {
  .productos_main {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  .productos_main label {
    padding: 6px 20px;
    margin: 10px;
    font-size: 20px;
    background-color: #203586;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }
  .productos_main label:hover {
    opacity: 0.8;
  }
  .contenedor-producto {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .contenedor-producto .contenedor-compra {
    background: #fff;
    width: 350px;
    box-shadow: 0 0 20px -20px black;
    border-radius: 6px;
    overflow: hidden;
    padding-bottom: 20px;
  }
  .contenedor-producto .contenedor-compra .ctn-img {
    width: 100%;
  }
  .contenedor-producto .contenedor-compra .ctn-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
