.nav-link {
  color: white;
  font-size: 30px;
}
.navbar-nav .nav-link.active {
  color: white;
}
footer {
  background-color: #323031;
  font-size: 16px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  & ul {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    list-style: none;
    padding: 5px;
    justify-content: space-around;
  }
  & a {
    text-decoration: none;
    color: white;
    padding: 5px;
  }
  & p {
    color: white;
  }
  & img {
    background-color: white;
  }
}
.main-trabaja {
  padding-top: 50px;
  font-size: 20px;
  display: flex;
  background-color: beige;
  display: flex;
  flex-direction: column;
  align-items: center;
  & h2 {
    color: #203586;
  }
  & img {
    width: 300px;
    height: 300px;
  }
}
.open-positions {
  background-color: aliceblue;
  color: black;
  font-size: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row: 1fr 1fr 1fr;
  padding: 20px;
}
.ofertaslaborales {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 15px;
  color: white;
  background-color: #203586;
}
.trabajoss {
  margin: 0%;
  font-size: 15px;
  border: 1px solid black;
}
.oferta-buttom {
  padding: 10px;
  background-color: #f9e79f;
  font-size: 10px;
  width: 80px;
  height: 50px;
  margin-top: 40%;
  margin-left: 30%;
}
.oferta-buttom a {
  text-decoration: none;
}
.beneficios-text {
  background-color: #203586;
  font-size: 15px;
  color: white;
}
.beneficios-all {
  color: rgb(46, 46, 134);
  background-color: lightcyan;
  font-size: 15px;
  padding: 50px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.beneficioss {
  border: 1px solid black;
  margin: 10px 0;
}
@media (min-width: 992px) {
  .main-trabaja {
    padding: 270px 100px 100px 30px;
    font-size: 40px;
    display: flex;
    flex-direction: row;
    background-color: beige;
    align-items: flex-start;
    & img {
      width: 500px;
      height: 500px;
    }
    & h2 {
      color: #203586;
    }
  }
  .open-positions {
    background-color: aliceblue;
    color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 1fr 1fr 1fr;
    width: 100%;
    align-items: center;
    align-content: center;
    padding: 20px;
  }
  .ofertaslaborales {
    font-size: 30px;
    color: white;
    background-color: #203586;
  }
  .trabajoss {
    border: 1px solid black;
    margin: 20px;
    font-size: 30px;
  }
  .oferta-buttom {
    padding: 10px;
    background-color: #f9e79f;
    font-size: 30px;
    width: 200px;
    height: 100px;
  }
  .oferta-buttom a {
    text-decoration: none;
  }
  .beneficios-text {
    font-size: 30px;
    background-color: #203586;
    color: white;
  }
  .beneficios-all {
    color: rgb(46, 46, 134);
    background-color: lightcyan;
    font-size: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 0px;
    align-items: flex-start;
  }
  .beneficioss {
    border: 1px solid black;
    margin: 10px 0;
  }
}
