.newlester {
  background-color: #203586;
padding: 0;
}
.newlester h2 {
  color: aliceblue;
  font-size: 12px;
  padding: 10px;
}
.input-group {
  padding: 10px;
}
.btn btn-outline-secondary {
  background-color: white;
  color: white;
}
.footer-mobile{
  display: grid;
grid-template-columns: auto;
grid-template-rows: auto;
font-size: 12px;
}
.caja1{
grid-column: 1/2;
}
.caja2{
  grid-column: 2/4;
}
.caja3{
  grid-column: 1/2;
}
.caja4{
  grid-column: 2/4;
}
.caja5{
  grid-column: 1/4;
  justify-content: center;
}
.caja6{
  grid-column: 1/4;
}
@media (min-width: 992px) {
  .footer-mobile{
    display: flex;
  }
}
.caja5{
  justify-content: space-between;
}
.newlester {
  background-color: #203586;
padding: 0;
}
.newlester h2 {
  color: aliceblue;
  font-size: 30px;
  padding: 10px;
}