.newlester {
  background-color: #203586;
}
.newlester h2 {
  color: aliceblue;
}
.input-group {
  font-size: 40px;
  padding: 60px;
}
.btn btn-outline-secondary {
  background-color: white;
  color: white;
}
